# Root ignore
node_modules/
.env
.env.*
.env.local

# Backend ignores
request-management-backend/node_modules/
request-management-backend/.env

# Frontend ignores
request-management-frontend/node_modules/
request-management-frontend/.env
